@charset "utf-8";

/* basic */
body {
	
}
a {
	
}
a:hover {
	
}
a:active {
	
}
a:visited {
	
}
img {
	
}
/* Header */
#hd {
	
}
#ihd {
	
}
#logo {
	
}
#logo h1 {
	
}
#logo h1 a {
	
}

/* Nav Menu*/
#nav {
	
}
#nav ul {
	
}
#nav li {
	
}
#nav li a {
	
}
#nav li a:hover {
	
}

/* Banner */
#bn {
	
}
.ibn {
	
}

/* Content */
#cnt {
	
}
#icnt {
	
}

	/* Post Entry */
	.entry h1 {
		
	}
	.entry h2 {
		
	}
	.entry h3 {
		
	}
	.entry h4 {
		
	}
	.entry h5 {
		
	}
	.entry h6 {
		
	}
	.entry p {
		
	}
	.entry table {
		
	}
	.entry th {
		
	}
	.entry td {
		
	}

/* Sidebar */
#sdb {
	
}
.sdb-cnt {
	
}
.sdb-cnt h3 {
	
}
.sdb-menu {
	
}
.sdb-menu h3 {
	
}

/* Footer */
#ft {

}
#ift {
	
}

/* others */

code{
	font-family:"Courier New", Courier, mono;
	font-size:11px;
	padding:10px 10px 10px 50px;
	border:1px solid #ddd;
	margin:10px 0;
	display:block;
	text-indent:0;
}

table {
	border-collapse:collapse; 
	margin:0 0 10px 0; 
}

th, td {
	border:1px solid #CCC; padding:10px;
}

th {
	font-weight:bold;
	text-align:center;
}

caption {
	margin:0 0 10px 0;
	text-align:center;
}

/* css3 */

.ts1d{text-shadow:1px 1px 1px #ddd;-webkit-text-shadow:1px 1px 1px #ddd;-moz-text-shadow:1px 1px 1px #ddd;-o-text-shadow:1px 1px 1px #ddd;}
.ts10{text-shadow:1px 1px 1px #000;-webkit-text-shadow:1px 1px 1px #000;-moz-text-shadow:1px 1px 1px #000;-o-text-shadow:1px 1px 1px #000;}
.ts1f{text-shadow:1px 1px 1px #fff;-webkit-text-shadow:1px 1px 1px #fff;-moz-text-shadow:1px 1px 1px #fff;-o-text-shadow:1px 1px 1px #fff;}
.radius5{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-o-border-radius:5px;}
